div.table {
  display: table;
  border-collapse: separate;
  border-spacing: 10px;
  padding-bottom: 20px;
}

div.row { display:table-row; }

div.cell {
  width: 100px;
  height: 100px;
  display: table-cell;
  margin: 10px;
  vertical-align: text-top;
}

.Gallery--FeaturedImage {
    margin-left: -80px !important;
    margin-right: -50px !important;
}
@media screen and (max-width: 700px) {
    .Gallery--FeaturedImage {
        margin: 1em !important;
    }
}

span.Thumbnail {
    height: 100px !important;
    display: inline-block;
    cursor: pointer;
}