div.Grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

div.Product {
    display: flex;
    margin: 2em;
    flex-direction: column;
}

div.Title {
    text-align: left;
}
div.PriceTag {
    text-align: left;
    margin-top: 15px;    
}
div.PriceTag:before {
    content: '- '
}

@media screen and (max-width: 888px) {
    div.Grid {
        grid-template-columns: repeat(1, 1fr);
    }
    div.Product {
        margin: 0em;
    }

}